.App {
  text-align: center;
  min-height: 100vh;
  background-color: #CBC3E3  ;
}

.body {
  background-color: #CBC3E3;
  min-height: 100vh;
  display: flex;
  /* flex-direction: row */
  /* align-items: center; */
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: #CBC3E3; */
}