.App {
  text-align: center;
  min-height: 100vh;
  background-color: plum;
}

.App-header {
  background-color: plum;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}